body {
    font-family: sans-serif;
    color: dodgerblue;
}

button {
    padding: .5em 1em;
    border-radius: .5em;
    background-color: dodgerblue;
    color: white;
    border: none;
}

button:hover {
    box-shadow: 3px 3px 6px #888;
}

button + button {
    margin-left: 1em;
}
